$soft-primary : hsl(243, 86%, 85%);
$dark-primary : hsl(243, 87%, 12%);
$green-accent : hsl(163, 95%, 43%);
$gray-neutral : hsl(0, 0%, 50%);
$head-font    : 'Raleway', sans-serif;
$body-font    : 'Open Sans', sans-serif;
